body{
    text-align: center;
font-size: 25px;
color:blue;
}

.header{
padding: 20px;
}

.jewels{
padding:20px
}

.rules{
padding: 20px;
}

.box{
padding:20px
}

.boxtwo{
padding: 20px;
}

.preciousStones{
cursor: pointer;
padding: 20px;
}

.Score{
    padding: 20px;
    
}